<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestão Financeira</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="fundo">

    <h1 style="color: white;">Gestão Financeira</h1>

  <div class="dashboard">
    <div class="box">
      <div class="box-header entrada">Entrada</div>
      <div class="valor">R$ 0,00</div>
    </div>
    <div class="box">
      <div class="box-header saida">Saída</div>
      <div class="valor">R$ 0,00</div>
    </div>
    <div class="box">
      <div class="box-header saldo">Saldo</div>
      <div class="valor">R$ 0,00</div>
    </div>
  </div>

  <button class="add-button" onclick="openModalCriar()">Adicionar</button>
  <div class="filters">
    <button onclick="filterList('todos')">Todos</button>
    <button onclick="filterList('entrada')">Entradas</button>
    <button onclick="filterList('saida')">Saídas</button>
  </div>

  <div class="list"></div>

  <!-- Modal de criação -->
  <div class="modalCriar" id="modalCriar">
    <div class="modal-content">
      <h2>Adicionar Entrada</h2>
      <form action="/criar" method="post" id="formCriar">
        <input type="text" name="descricao" placeholder="Descrição" required>
        <input type="number" step="any" name="valor" placeholder="Valor" required>
        <select name="tipo">
          <option value="1">ENTRADA</option>
          <option value="2">SAÍDA</option>
        </select>
        <br><br>
        <button class="add-button" type="submit">Salvar</button>
        <button class="add-button" type="button" onclick="closeModalCriar()">Cancelar</button>
      </form>
    </div>


    
    <script src="/js/script.js" defer></script>
</body>
</html>